# Configuration files
aspCommon.py
defaults.cfg

# Python stuff
*.pyc

# Object files
*.o

# Libraries
*.a
*.so

# Executables
configPSU
countBoards
countPICs
countPSUs
countThermometers
onoffPSU
readARXDevice
readPSU
readThermometers
sendARXDevice
sendPICDevice
writeARXLCD
setATmegaSN
listATmegaSN
locateATmega
