# Configuration files
aspCommon.py
defaults.cfg

# Python stuff
*.pyc

# Object files
*.o

# Libraries
*.a
*.so

# Executables
configPSU
countBoards
countPSUs
countThermometers
onoffPSU
readARXDevice
readPSU
readThermometers
sendARXDevice
writeARXLCD
